<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A&SBaseballDatabase</title>
</head>
<body>
  <h1>Does altitude have an effect on the performance of athletes?</h1>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
  <h1>{% block title %} Does altitude have an effect on the performance of athletes? {% endblock %}</h1>
  <img src= "../static/highaltruns.jpg"/>
  <img src= "../static/highaltrunsl.jpg"/>
  <img src= "../static/highalthits.jpg"/>
  <img src= "../static/highalthitsl.jpg"/>
  <img src= "../static/highaltsecb.jpg"/>
  <img src= "../static/highaltsecbl.jpg"/>
  <img src= "../static/highaltthirb.jpg"/>
  <img src= "../static/highaltthirbl.jpg"/>
  <img src= "../static/highalthr.jpg"/>
  <img src= "../static/highalthrl.jpg"/>
{% endblock %}