<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A&SBaseballDatabase</title>
</head>
<body>
  <h1>Does altitude have an effect on the performance of athletes?</h1>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
  <h1>{% block title %} Does altitude have an effect on the performance of athletes? {% endblock %}</h1>
  <img src= "../static/highaltruns2.jpg"/>
  <img src= "../static/highalthits2.jpg"/>
  <img src= "../static/highaltsecb2.jpg"/>
  <img src= "../static/highaltthirb2.jpg"/>
  <img src= "../static/highalthr2.jpg"/>
{% endblock %}