<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A&SBaseballDatabase</title>
</head>
<body>
  <h1>Welcome to Amritpal's and Stanley's Baseball Database</h1>
    <p><a class="content indexLink" href="/arod">Stats on Alex Rodriguez</a></p>
    <p><a class="content indexLink" href="/altitude">Does Altitude effect performance study</a></p>
    <p><a class="content indexLink" href="/peds">The effects of Performance Enhancing Drugs on the game</a></p>
    <p><a class="content indexLink" href="/lookup">Look up player</a></p>
</body>
</html>